<% provide(:title, @article.title) %>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<% if @article.user.avatar? %>
				<%= image_tag @article.user.avatar.url(:medium) , { size: '200', class: "img-thumbnail" } %>
			<% else %>
				<%= image_tag "i-am-a-programmer-i-write-code.png" , { size: '200', class: "img-thumbnail" } %>
			<% end -%>
			<h4><%= link_to @article.user.name, user_profile_path(@article.user.username) %></h4>

			<h4><%= @article.title %></h4>
			<h4></h4>
			<h5><b>Technology:</b> &nbsp;<%= link_to @article.technology.name, technology_name_path(@article.technology.name) %></h5>
			<h4></h4>
		</div>

		<div class="col-md-9 well" style="padding-left: 2em;">
			<h3>Content</h3>
			<h4><%= simple_format (@article.content.html_safe) %></h4>

			<% if can? :update, @article %>
				<%= link_to "Edit", edit_user_article_path(:heading => @article.title), class: "btn" %>
			<% end -%>
			
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-md-3">
			
		</div>

		<div class="col-md-9">
			<h4><%# @article.comments.count %>&nbsp;Comments</h4>
			<hr>
			<div class="comments">
				<%= render @article.comments %>
			</div>
			<h3>Reply To Article</h3>
			<%= render "comments/form" %>	
		</div>
	</div>
</div>