<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= image_tag @article.user.avatar.url(:medium) , { size: '200', class: "img-thumbnail" }  if current_user.avatar? %>
			<h4><%= @article.user.name %></h4>

			<h3><small><%= @article.title %></small> </h3>
			<h4></h4>
			<h5><b>Technology:</b> <small><%= @article.technology.name %></small></h5>
			<h4></h4>
		</div>

		<div class="col-md-9">
			<h3>Content</h3>
			<h4><%= simple_format (@article.content) %></h4>
			<%= link_to "Edit", edit_article_path(@article), class: "btn" %>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-md-3">
			
		</div>

		<div class="col-md-9">
			<h4><%# @article.comments.count %>&nbsp;Comments</h4>
			<hr>
			<div class="comments">
				<%= render @article.comments %>
			</div>
			<h3>Reply To Article</h3>
			<%= render "comments/form" %>	
		</div>
	</div>
</div>