<h3>Title</h3>
<h4><%=  @article.title %></h4>

<h3>Content</h3>
<h4><%=  @article.content %></h4>

<h3>Technplogy_Id</h3>
<h4><%=  @article.technology_id %></h4>

<h3>User_Id</h3>
<h4><%=  @article.user_id  %></h4>

<h3>Technoly Name</h3>
<h4><%=  @article.technology.name %></h4>

<h3>User Name</h3>
<h4><%=  @article.user.name %></h4>

<h3>Created_At</h3>
<h4><%=  @article.created_at %></h4>

<h3>Updated_At</h3>
<h4><%=  @article.updated_at %></h4>

<%= link_to "Edit", edit_article_path(@article), class: "btn" %>