<% provide(:title, "Profile - #{@user.name}") %>
<br>
<div style="margin-left:40px; margin-right:40px;">
<h4><%= @user.name %>'s profile</h4>
<hr />
<div class="contaner">
	<div class="col-md-4">
		<div>
			<% if @user.avatar.present? %>
					<%= image_tag @user.avatar.url(:medium) , { size: '200', class: "img-thumbnail" } %>
				<% else %>
					<%= image_tag "i-am-a-programmer-i-write-code.png" , { size: '200', class: "img-thumbnail" } %>
				<% end -%>
			<h3><%= @user.name %></h3>
			<h5>Email: <%= @user.email %></h5>
			<%= link_to "Message me", new_conversation_path(to: @user.name) %>
		</div>
	</div>

	<div class="col-md-8">
		<div class="jumbotron well">
			
			<% if @user.articles.any? %>
				<h3>Articles (<%= @user.articles.count %>)</h3>
				<ol class="panel">
					<%= render partial: 'articles/article' %>
				</ol>
				<%= will_paginate @articles %>
			<% end -%>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<hr>
<div class="col-md-6">
	<h4>Interested Technologies</h4>
	<% @interested_tech.each do |interested_tech| %>
		<%= link_to interested_tech.technology.name, technology_name_path(interested_tech.technology.name) %> <br>
	<% end -%>

</div>

<div class="col-md-6">
	<h4>Known Technologies</h4>
	<% @known_tech.each do |known_tech| %>
		<%= link_to known_tech.technology.name, technology_name_path(known_tech.technology.name) %> <br>
	<% end -%>
</div>

<div class="clearfix"></div>
<hr>
</div>