<% provide(:title,(@technology.name)) %>
<br>
<div style="margin-left: 2.5%;margin-right: 2.5%">
	<p id="notice"><%= notice %></p>

	<h3>
	  <strong>Name:</strong>
	  <%= @technology.name %>
	</h3>
	<% if can? :update, @technology %>
		<%= link_to 'Edit', technology_edit_path(@technology.name) %> 
	<% end -%>
	<hr>
		

	<div class="col-md-9">

		<strong>list of all articles</strong>
		<div class="panel panel-default" style="padding-left:10%;">
			<% if related_article_render %>
				<% related_article_render.each do |article| %>
					<div class="panel panel-body">
						<li><h5><%= link_to article, user_article_path(article) %></h5></li>
					</div>
				<% end -%>
			<% end -%>
		</div>
	</div>

	<div class="col-md-3">
		<strong>List of Users related </strong>
		<div class="panel panel-default">
			<div class="panel panel-body">
				<% @technology.users.each do |user_name| %>
					<% if user_name != current_user %>
						<p><font size="3em">
							<% if user_name.avatar? %>
								<%= image_tag user_name.avatar.url(:thumb), { size: '50', class: 'img-rounded' } %>
							<% else %>
								<%= image_tag 'i-am-a-programmer-i-write-code.png', { size: '50', class: 'img-rounded' } %>
							<% end -%>
							&nbsp;&nbsp;<%= link_to user_name.name, user_profile_path(user_name.username) %>
						</font></p>
					<% end -%>
				<% end -%>
			</div>
		</div>
	</div>
</div>