<br>

<h4>your profile</h4>
<hr />

<div class="contaner">
	<div class="col-md-4">
		<div>
			<%= image_tag current_user.avatar.url(:medium) , { size: '200', class: "img-thumbnail" }  if current_user.avatar? %>
			<h3><%= current_user.name %></h3>
			<h3><%= current_user.dob %></h3>
		</div>
	</div>

	<div class="col-md-8">
		<div class="jumbotron well">
			Posts by Current user(me)
			<% if @user.articles.any? %>
				<h3>Articles (<%= @user.articles.count %>)</h3>
				<ol class="panel">
					<%= render @articles %>
				</ol>
				<%= will_paginate @articles %>
			<% end -%>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<hr>
kbk