<% provide(:title, "Profile") %>
<div style="margin-left: 40px; margin-right: 40px; margin-top: 40px;">
	
		<h4><%= current_user.name %>'s profile</h4>
		<hr />
	<div>
		<div class="col-md-4">
			<div>
				<% if current_user.avatar.present? %>
					<%= image_tag current_user.avatar.url(:medium) , { size: '200', class: "img-thumbnail" } %>
				<% else %>
					<%= image_tag "i-am-a-programmer-i-write-code.png" , { size: '200', class: "img-thumbnail" } %>
				<% end -%>
				<h3><%= current_user.name %></h3>
				<h5><%= current_user.email %></h5>
			</div>
			<i class="fa fa-cog"></i> <%= link_to "update profile", edit_user_registration_path %>
		</div>

		<div class="col-md-8">
			<div class="jumbotron well">
				Posts by me :
				<% if current_user.articles.any? %>
					<h5>Articles (<%= current_user.articles.count %>)</h5>
					<div class="panel panel-default" style="padding-left: 2%;">
						<%= render partial: 'articles/article' %>
					</div>
					<%= will_paginate @articles %>
				<% end -%>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<hr>

	<div class="col-md-6">
	<b>Update your interests <%= link_to "edit", interests_path %> </b>
		<h4>Interested Technologies</h4>
		<% @interested_tech.each do |interested_tech| %>
			<%= link_to interested_tech.technology.name, technology_name_path(interested_tech.technology.name) %> <br>
		<% end -%>

	</div>

	<div class="col-md-6">
		<h4>Known Technologies</h4>
		<% @known_tech.each do |known_tech| %>
			<%= link_to known_tech.technology.name, technology_name_path(known_tech.technology.name) %> <br>
		<% end -%>
	</div>

	<div class="clearfix"></div>
	<hr>
</div>