<!DOCTYPE html>
<html>
<head>
  <title>EduChat | <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<% if notice %>
		<div id="notice_wrapper">
			<p class="notice"><%= notice %></p>
		</div>
	<% elsif alert %>
		<div id="notice_wrapper">
			<p class="alert"><%= alert %></p>
		</div>
	<% end %>
	<div class="navbar" style="margin-top: -0.3%;">
		<div class="container-fluid" style="margin-top: -0.2%;">
			<div class="navbar-header">
				<%= link_to "EduChat", root_path, class: "navbar-brand" %>
			</div>
			<div style="margin-top: -0.3%";>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li><%= link_to "Inbox", mailbox_inbox_path, class: "fa fa-inbox" %></li>
						<li><%= link_to "Profile", profile_path %></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "Sign Up", new_user_registration_path %></li>
						<li><%= link_to "Sign In", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>	
	</div>
<div>
	<%= yield %>
</div>

</body>
</html>
